.layout {
	@apply mb-24 relative;

	.layouWrapper {
		@apply grid grid-cols-productDetailGrid gap-x-6;
	}

	.sidebar {
		@apply bg-white rounded-md p-10 flex justify-center max-h-[550px];

		.avatar {
			@apply w-[110px] h-[110px] rounded-full bg-gray mb-2 p-[39px] relative;

			> img {
				position: absolute;
				top: 50%;
				left: 38px;
				transform: translateY(-50%);
			}
		}

		h3 {
			@apply font-semibold text-text-md mb-5;
		}

		.list {
			@apply mb-20;

			.link {
				@apply flex items-center gap-x-3 text-text-sm font-normal mb-5;
			}
		}

		.btn {
			@apply text-black text-text-sm font-normal cursor-pointer flex items-center gap-x-3;
		}
	}

	.account {
		@apply bg-white rounded-md px-[53px] py-6;

		> h3 {
			@apply text-text-md font-semibold mb-9;
		}

		.head {
			@apply flex gap-x-8 mb-10 relative;

			.avatar {
				@apply w-[110px] h-[110px] rounded-full bg-gray mb-2 p-[39px] relative;

				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}

			> h3 {
				@apply font-semibold text-text-md mt-3;
			}

			.icon {
				@apply absolute bottom-4 left-20 bg-orange rounded-full py-[7px] px-3 cursor-pointer;
			}
		}

		.personData {
			@apply flex items-center gap-5 flex-wrap mb-14;

			> div {
				@apply w-[260px];

				> span {
					@apply text-text-xs text-gray;
				}

				> p {
					@apply mt-4 text-text-sm bg-secondary py-[14px] pl-[21px] pr-6 rounded-[53px];
				}
			}
		}

		.btns {
			@apply flex items-center gap-x-5;
			.btnOrange {
				@apply w-64 bg-orange cursor-pointer text-text-md font-semibold py-6 px-3 rounded-md;

				&:hover {
					background-color: lighten(#ec3b22, 10%);
				}
			}

			.btnWhite {
				@apply w-64 bg-secondary cursor-pointer text-text-md font-semibold py-6 px-3 text-black rounded-md;

				&:hover {
					background-color: darken(#e9e9e9, 10%);
				}
			}
		}
	}

	.modal {
		@apply fixed inset-0 z-0 hidden bg-modal;

		.wrapper {
			@apply w-full h-1/2 flex items-center justify-center translate-y-1/2;
		}

		.content {
			@apply max-w-[495px] p-10 bg-white rounded-lg;

			> h1 {
				@apply text-text-2xl font-bold mb-1;
			}

			> p {
				@apply text-text-sm mb-11;
			}

			.btns {
				@apply flex items-center gap-x-3;

				.btnOrange {
					@apply text-text-md font-semibold bg-orange cursor-pointer py-4 px-8 rounded-full;

					&:hover {
						background-color: darken(#ec3b22, 5%);
					}
				}

				.btnBlack {
					@apply text-text-md font-semibold bg-black text-white cursor-pointer py-4 px-8 rounded-full;

					&:hover {
						background-color: darken(#2f2f2f, 10%);
					}
				}
			}
		}
	}

	.modalOpen {
		@apply z-30 block;
	}

	.wrap {
		@apply grid-cols-3;
	}
}
