.header {
	@apply w-full shadow-md mb-10 bg-white;

	.top {
		@apply flex items-center justify-between px-[60px] py-5 bg-black text-white text-text-sm;

		.map {
			@apply flex items-center gap-x-[100px];

			.region {
				@apply flex items-center gap-x-2 cursor-pointer relative;

				.wrapper {
					@apply absolute shadow-lg cursor-default bg-white bg-opacity-100 top-8 -right-72 w-[365px] z-40 pt-5 pl-3 pr-16 pb-16 rounded-md;
					animation: scale 0.3s ease-in;

					h2 {
						@apply text-text-md text-black font-semibold mb-5;
					}

					.list {
						@apply flex-wrap gap-x-6 opacity-100;

						.li {
							@apply flex justify-start w-14 mx-3 my-1 cursor-pointer text-black opacity-100 select-none;
						}

						.liActive {
							@apply text-orange;
						}
					}
				}
			}

			.list {
				@apply flex items-center gap-x-8;

				> li {
					@apply opacity-60 cursor-pointer hover:opacity-100;
				}
			}
		}

		.contact {
			@apply flex items-center gap-x-3 relative;

			> span {
				@apply flex items-center gap-x-2 cursor-pointer select-none opacity-60 hover:opacity-100;
			}

			.wrapper {
				@apply absolute top-8 right-36 z-30 shadow-lg rounded-md bg-white text-black py-3 px-4;
				animation: scale 0.3s ease-in;

				> ul {
					@apply flex flex-col gap-y-3;
					.contactLi {
						@apply cursor-pointer select-none;
					}

					.contactLiActive {
						@apply text-orange;
					}
				}
			}

			> p {
				@apply opacity-60;
			}
		}
	}

	.bottom {
		@apply flex items-center px-[60px] py-10;

		.logo {
			@apply pr-28;
		}

		.cat {
			@apply flex items-center relative;

			.drop {
				@apply flex items-center justify-between w-[260px] mr-5 text-text-2xl bg-[#EC3B22] py-[15px] px-7 rounded-[62px] text-white overflow-hidden cursor-pointer hover:bg-[#e44f3c] transition-colors;

				> span {
					@apply pr-14 select-none;
				}

				.icon {
					transform: rotate(180deg);
					transition: transform 0.3s ease;
				}

				.dropWrapper {
					@apply w-[400px] absolute top-[65px] left-2 bg-white rounded-lg text-black shadow-catShadow pt-12 px-[50px] pb-[60px] cursor-default transition-all duration-300 ease-in;
					transform: translateY(-100px);
					z-index: -1;
					opacity: 0;

					> ul {
						@apply w-full flex flex-col gap-y-4;

						.dropLi {
							@apply flex justify-between items-center cursor-pointer select-none pl-4 text-text-md font-semibold;
						}

						.dropLiActive {
							@apply text-orange border-l-4 border-l-orange;
						}
					}
				}

				.dropWrapperActive {
					transform: translateY(0);
					z-index: 30;
					opacity: 1;
				}
			}

			.field {
				@apply flex items-center mr-48 w-[660px] relative;

				.search {
					@apply border outline-none w-full bg-whiteLight rounded-[62px] opacity-40 placeholder:text-text-xl placeholder:font-normal placeholder:text-black placeholder:opacity-40 focus:border-[#0762ca] focus:border-2 py-4 px-8;
				}

				.searchIcon {
					@apply absolute right-5 top-5;
				}
			}

			.iconList {
				@apply flex items-center gap-x-10;
			}
		}
	}
}

@keyframes scale {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}
