@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@import '@/layout/header/category/category.module.scss';
@import '@/screens/catalog/catalogSelect/catalogSelect.module.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
}

body {
	@apply bg-sliderSec;
}

.slider {
	.swiper-horizontal {
		height: 450px;
	}
}

.active-link {
	@apply bg-orange p-[18px] rounded-full;

	> svg {
		fill: white;
	}
}

.active-auth {
	@apply text-text-sm font-bold mb-4 text-orange;
}

.active-account {
	@apply text-text-md font-semibold text-orange flex items-center gap-x-3 mb-5;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 16px;
}

::-webkit-scrollbar-thumb {
	background-color: #918888;
	border-radius: 16px;
}
